lStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

node_modules/
www/build/


npm-debug.log
.DS_Store

*.js.map
src/app/**/*.js
src/app/**/*.css
hooks/
lib/
node_modules/
platforms/
tmp/
typings/
ionic/
*.apk
package-lock\.json
package-lock.json

